@import "https://fonts.googleapis.com/css2?family=Bellota&display=swap";
body {
  background: #fff;
}
body {
  font-family: "Bellota", cursive;
}
textarea {
    resize: none;
}

#count_message {
  background-color: red;
  margin-top: -20px;
  margin-right: 5px;
}